table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
th { background-color: #82457c; color: white; }
input {
    color: red;
    margin-block: 8px;
}